/* Section Slide 1 */

.slide1 {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 33px;
    width: 100%;
}

.game img {
    border-radius: 10px;
}

/* Section Slide 2 */


.slide2 h2{
    font-size: 30px;
    font-weight: bold;
    color: var(--page-color);
    margin-left: 12%;
    margin-top: 5%;
}

.big-game {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-game a {
    text-decoration: none;

}

.big-game a .games{
    position: relative;
    width: 350px;
    height: 491px;
    background: white;
    border-radius: 10px;
    margin: 10px;
}

#wukong {
    background-image: url("../img/HomeGame/Wukong.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

#red-dead {
    background-image: url("../img/HomeGame/RedDead.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

#wrc10 {
    background-image: url("../img/HomeGame/WRC10.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

#horizon {
    background-image: url("../img/HomeGame/HorizonZeroDawn.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.big-game .info-game {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.big-game .info-game span {
    color: var(--page-color);
    font-size: 20px;
}

.title {
    font-weight: bold;
}


/* Section Free Game */

.free-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    background-color: var(--footer-color);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    border-radius: 10px;
}

#gif-text {
    color: white;
}

.fa-gift {
    padding: 5px;
}

#text-gratuit {
    display: flex;
    justify-content: center;
    color: var(--btn-text-color);
    border: 1px var(--bg-color-btn-free) solid;
    background-color: var(--bg-color-btn-free);
    border-radius: 0 0 10px 10px;
    padding: 7px;
    margin: 0;
    font-weight: bold;
}

#free-game-name {
    color: white;
    font-size: 18px;
    padding: 7px;
    font-weight: bold;
}