/* Titre Page */

#page-title {
    color: var(--page-color);
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: 2vh;
    width: auto;
    font-size: 2rem;
    transform: none;
}

/* Formulaire Contact */

#form-contact {
    color: var(--page-color);
    display: flex;
    flex-direction: column;
    height: auto;
    width: 30vw;
    position: relative;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    transform: none;
    background-color: var(--contact-back-color);
    border: solid;
    border-width: 1px;
    border-color: var(--border-color);
    padding: 15px;
    border-radius: 15px;
    box-sizing: border-box;
}

#name-text-bloc {
    display: flex;
    flex-direction: row;
}

.name-bloc {
    width: 50%;
}

#name-text-bloc, #form-pseudo-bloc, #form-email-bloc, #form-message-bloc {
    margin-bottom: 15px;
}

.input {
    width: 100%;
    border-radius: 15px;
    padding: 13px;
    margin-top: 5px;
    box-sizing: border-box;
}

#envoyer-form {
    width: 100%;
    padding: 10px;
    background-color: var(--btn-color);
    border-radius: 15px;
    color: var(--btn-text-color);
    font-weight: bold;
    cursor: pointer;
}
  
#envoyer-form:hover {
    background-color: var(--btn-color-hover);
}

/* Newsletter */

#news-box {
    color: var(--page-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    transform: none;
}

#news-text {
    padding-bottom: 20px;
}


#news-form {
    display: flex;
    flex-direction: row;
    width: 30vw;
}

#input-news {
    width: 80%;
    border-radius: 15px; 
}

#envoyer-form-news {
    width: 20%;
    padding: 10px;
    background-color: var(--btn-color);
    border-radius: 15px;
    color: var(--btn-text-color);
    font-weight: bold;
    cursor: pointer;
}

#envoyer-form-news:hover {
    background-color: var(--btn-color-hover);
}
