/* Global */

body {
    width: 100%;
    height: 30vh;
}

ul {
    list-style: none;
}

/* Box 1 - Global */

#global-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    margin-bottom: 5vh;
    transform: none;
    width: 80%;
    color: var(--page-color);
}

#game-desc {
    width: 48%;
}

.game-illust img{
    width: 100%;
    height: 432px;
    border-radius: 10px;
}

#game-title {
    margin: 20px;
    font-size: 2.5rem;
}

#box-claim {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    color: var(--page-color);
}

.pegi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

.pegi img {
    width: 50px;
    height: auto;
}

#pegi-text {
    font-weight: bold;
    padding: 20px;
    font-size: 20px;
}



#claim-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 48%;
    text-decoration: none;
    color: var(--btn-text-color);
    background-color: var(--btn-color);
    font-weight: bold;
    font-size: 20px;
}

#claim-btn:hover {
    background-color: var(--btn-color-hover);
}

.box-game-desc {
    padding: 0 8px 0 8px;
    display: flex;
    justify-content: space-between;
}

.box-game-desc ul {
    padding: 0;
}

.box-game-desc ul.right {
    display: block;
    text-align: end;
}

.box-game-desc ul li {
    font-size: 20px;
    font-weight: bold;
    line-height: 2.4;
}


/* Box 2 - Infos */

#infos-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}

#part-sup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    transform: none;
    width: 80%;
    color: var(--page-color);
}

#vid-box {
    min-height: 40vh;
    width: 63%;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

#video {
    width: 100%;
    height: 100%;
}

#desc {
    width: 34%;

    font-size: 25px;
    line-height: 2;
    text-align: justify;
}

.tag-box {
    margin-top: 20px;
}

#tag-title {
    color: var(--page-color);
    padding: 5px;
    border-radius: 5px;
}

.tag-box ul {
    color: var(--page-color);
    display: flex;
    align-items: center;
    padding-left: 20%;
    font-size: 20px;
}

.tag-box ul li {
    padding: 10px;
    background-color: var(--contact-back-color);
    color: var(--page-color);
    border-radius: 5px;
    margin: 0.3%;
}


/* Images */

#img-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8vh;
    transform: none;
    width: auto;
}

.imgs {
    height: 30vh;
    padding: 2vh;
}
