@media screen and (max-width: 320px){
    body {
        overflow-x: hidden;
        position: relative;
        width: 100%;
        height: 100vh;
    }

    /* Slide 1 */

    .slide1 {
        position: relative;
        width: 100%;
        height: 30vh;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
    }

    .game img {
        height: 100%;
        border-radius: 5px;
        margin: 0 10px;
    }

    /* Slide 2 */

    .slide2 {
        padding: 20px 5px;
    }

    .slide2 h2 {
        margin-left: 5px;
    }

    .big-game {
        overflow-x: auto;
        display: flex;
        justify-content: space-between;
    }

    .big-game a .games {
        width: 312px;
        height: 433px;
    }

    /* Section free game */

    .free-game {
        position: relative;
        width: 50%;
        height: 331px;
        display: block;
        /* justify-content: space-between; */
        /* align-items: center; */
        /* margin-left: 15px; */
    }
    
    /* .free-game-div {
        width: 361px;
        height: 203px;
        margin-top: -30%;
        margin-left: 10px;
    } */

    /* .title-present {
        margin-left: 15px;
    } */

    /* .img-present {
        width: 37px;
        height: 36px;
        background-size: cover;
    }

    .game-present {
        width: 361px;
        height: 203px;
        background-size: cover;
        margin-left: 15px;
    } */

    #game-image {
        width: 100%;
    }

    /* #text-gratuit {
        width: 359px;
        height: 30px;
        font-size: 12px;
    } */

    #title-game {
        margin-left: 15px;
    }
}